:before,
*,
:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 3rem;
  font-family: 'Fredericka the Great', cursive;
}

h2 {
  font-size: 2.5rem;
  font-family: 'Cormorant', serif;
}

h3 {
  font-size: 2.2rem;
  font-family: 'Marcellus SC', serif;
}

h4 {
  font-size: 1.8rem;
  font-family: 'Cormorant', serif;
}

h5 {
  font-size: 1.6rem;
  font-family: 'Marcellus SC', serif;
}

p {
  line-height: 1.8em;
  font-family: 'Cormorant', serif;
}

li {
  font-family: 'Cormorant', serif;
}
