.section-header {
  text-align: center;
  margin-bottom: 1em;
}

.section-header-icon {
  color: goldenrod;
  margin: 10px;
}

.contact-links {
  li {
    display: inline-block;
    padding: 1em 0;
    margin: 1em;
  }

  a {
    text-decoration: none;
    color: white;
  }
}

.skills {
  padding: 3em 0;
  background-color: lightgray;
  color: #555;
}

.projects {
  padding: 5em 0;
  background-color: rgb(25, 21, 65);
  color: white;
}

.logos {
  padding: 2em 0;
  background-color: rgb(0, 37, 116);
  color: white;
}

footer {
  padding: 2em;
  text-align: center;
  background-color: black;
  line-height: 4em;
  color: white;
}

@import './sections/Hero/hero';
