.projects {
  height: 400px;
  background-color: blue;
  color: white;
}

.media {
  height: 400px;
  background-color: lightgray;
}

.contact {
  height: 400px;
  background-color: blue;
  color: white;
}

.footer {
  height: 200px;
  background-color: black;
  color: white;
}

@import './sections/Hero/hero';
